<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pemesanan Lapangan</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
</head>
<body>
    <header>
        <h1>Form Pemesanan</h1>
        <p>Form pemesanan lapangan futsal</p>
    </header>
    <main id="myapp">
        <div id="boxform">
            <form>
                <div id="form1">
                    <label for="nama">Nama Lengkap</label><br>
                    <input type="text" id="nama"  placeholder="Masukkan nama lengkap" required v-model="name"><br>

                    <label for="alamat">Alamat</label><br>
                    <input type="text" id="alamat"  placeholder="Masukkan alamat" required v-model="addres"><br>

                    <label for="nomor">Nomor Telepon</label><br>
                    <input type="tel" id="nomor" placeholder="Masukkan no. hp" required v-model="contact" pattern="[0-9]*"><br>
                </div>

                <div id="form2">
                    <label for="durasi">Durasi</label><br>
                    <input type="number" id="durasi"  placeholder="Pilih durasi" required v-model="durasi"><br>

                    <label for="nolap">Nomor Lapangan</label><br>
                    <select id="nolap" required v-model="lapangan">
                        <option value="pilih lapangan" selected hidden disabled>pilih lapangan</option>
                        <option value="lapangan 1">Lapangan 1</option>
                        <option value="lapangan 2">Lapangan 2</option>
                        <option value="lapangan 3">Lapangan 3</option>
                    </select><br>


                    <label for="tanggal">Tanggal Main</label><br>
                    <input type="date" id="tanggal" placeholder="pilih tanggal" required v-model="date"><br>

                    <label for="jam">Waktu Main</label><br>
                    <input type="time" id="jam" placeholder="pilih jam" required v-model="time"><br>
                </div>

                <div id="button">
                    <button type="submit" id="submit" value="add" @click="addItem()">Masukkan data </button>
                </div>
            </form>

            <div id="table-content">
                <table>
                    <tr>
                        <th>Nama Lengkap</th>
                        <th>Alamat</th>
                        <th>Nomor Hp</th>
                        <th>Lapangan</th>
                        <th>Durasi Sewa</th>
                        <th>Tanggal</th>
                        <th>Waktu</th>
                        <th>Action</th>
                    </tr>
    
                    <tr v-for="(item, index) in pemesanan">
                        <td>{{item.name}}</td>
                        <td>{{item.addres}}</td>
                        <td>{{item.contact}}</td>
                        <td>{{item.lapangan}}</td>
                        <td>{{item.durasi}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.time}}</td>
                        <td>
                            <input type="button" value="Update" @click="updateItem(index, item.id)">&nbsp;
                            <input type="button" value="Delete" @click="deleteItem(index, item.id)">
                            
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="boxbag"></div>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <script>
        const app = Vue.createApp({
            el: '#myapp',
            data() {
                return {
                    pemesanan: '',
                    name: '',
                    addres: '',
                    contact: '',
                    durasi: '',
                    lapangan: '',
                    date: '',
                    time: '',
                    id: 0
                }
            },

            methods: {
                addItem() {
                    if(this.name != '' && this.addres != '' && this.contact != '' && this.durasi != '' && this.lapangan != '' && this.date != '' && this.time != '') {
                        axios.post('ajaxfile.php', {
                            request: 2,
                            name: this.name,
                            addres: this.addres,
                            contact: this.contact,
                            durasi: this.durasi,
                            lapangan: this.lapangan,
                            date: this.date,
                            time: this.time,
                        })
                        .then(function (response) {
                            app.allRecords();
                            app.name = '';
                            app.addres = '';
                            app.contact = '';
                            app.durasi = '';
                            app.lapangan = '';
                            app.date = '';
                            app.time = '';

                            alert(response.data);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }else {
                        alert('fill all fields');
                    }
                },
                updateItem(index, id) {
                    var name = this.pemesanan[index].name;
                    var addres = this.pemesanan[index].addres;
                    var contact = this.pemesanan[index].contact;
                    var durasi = this.pemesanan[index].durasi;
                    var lapangan = this.pemesanan[index].lapangan;
                    var date = this.pemesanan[index].date;
                    var time = this.pemesanan[index].time;

                    if(name != '' && addres != '' && contact != '' && durasi != '' && lapangan != '' && date != '' && time != '') {
                        axios.post('ajaxfile.php', {
                            request: 3,
                            id: id,
                            name: name,
                            addres: addres,
                            contact: contact,
                            durasi: durasi,
                            lapangan: lapangan,
                            date: date,
                            time: time,
                        })
                        .then(function (response) {
                            alert(response.data);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                },
                deleteItem(index, id) {
                    axios.post('ajaxfile.php', {
                        request: 4,
                        id: id
                    })
                    .then(function (response) {
                        app.pemesanan.splice(index, 1);
                        alert(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },

                allRecords() {
                    axios.get('fetchdata.php')
                    .then(function(response) {
                        app.pemesanan = response.data;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                },
            }, 
            created() {
                this.allRecords();
            },
        })
        app.mount('#myapp')

    </script>
    
</body>
</html>